doctype html
html
    head
        title Simple Map
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
        link(rel='stylesheet', type='text/css', href='/css/preflight.css')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', crossorigin='anonymous')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
        style.
          /* Always set the map height explicitly to define the size of the div
          * element that contains the map. */
          #map {
          height: 100%;
          }
          /* Optional: Makes the sample page fill the window. */
          html, body {
          height: 100%;
          margin: 0;
          padding: 0;
          }
    body
        input(type="hidden" value=final_boxes id="final_boxes")
        .container-fluid.wrapper
            .row.map-view
                .col-3
                    .btn-group(data-toggle='buttons').list-group
                        label.btn.btn-primary#choose-start
                            input(type='radio', name='options', autocomplete='off')
                            | Choose Startpoint
                        label.btn.btn-primary#choose-end
                            input(type='radio', name='options', autocomplete='off')
                            |  Choose Endpoint
                    .coordinate-info.list-group
                        a.list-group-item.list-group-item-action.flex-column.start-point
                            .d-flex.w-100.justify-content-between
                                h5.mb-1.details-of-start-point
                                small Startpoint
                            p.mb-1#coordinates-of-start-point
                        a.list-group-item.list-group-item-action.flex-column.end-point
                            .d-flex.w-100.justify-content-between
                                h5.mb-1.details-of-end-point
                                small Endpoint
                            p.mb-1#coordinates-of-end-point
                    .launchbutton
                        #launch.button.btn.btn-outline-primary(type='button') Launch Flight Mode
                    .testbutton
                        #test-button.button.btn.btn-outline-primary(type='button') Demo Range
                    .data-window.list-group
                        a.list-group-item.list-group-item-action.flex-column.current-location
                            .d-flex.w-100.justify-content-between
                                h5.mb-1 Latitude
                            p.mb-1.current-latitude
                        a.list-group-item.list-group-item-action.flex-column.current-location
                            .d-flex.w-100.justify-content-between
                                h5.mb-1 Longitude
                            p.mb-1.current-longitude
                        a.list-group-item.list-group-item-action.flex-column
                            .d-flex.w-100.justify-content-between
                                h5.mb-1 Altitude
                            p.mb-1.current-altitude 
                        a.list-group-item.list-group-item-action.flex-column
                            .d-flex.w-100.justify-content-between
                                h5.mb-1 Speed
                            p.mb-1.current-speed
                .col-9
                    #map 
    //- script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
    script(src='https://code.jquery.com/jquery-3.3.1.min.js', integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js', integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q', crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js', integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl', crossorigin='anonymous')
    script(type='text/javascript', src='/scripts/preflight.js')
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAOXmvxQAzQGoCLodBuhjRJ_LanBmL-Asc&callback=initMap', async='', defer='')
